@using Spendnt.Shared.DTOs.Saldo
@using System.ComponentModel.DataAnnotations

<EditForm Model="Saldo" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label class="form-label">Establecer Saldo Manual</label>
        <div>
            <InputNumber class="form-control" @bind-Value="Saldo.TotalSaldo" TValue="decimal" step="0.01" />
            <ValidationMessage For="@(() => Saldo.TotalSaldo)" />
            
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar Saldo Manual</button>
    <button class="btn btn-outline-secondary ms-2" type="button" @onclick="ReturnAction">Regresar</button>
</EditForm>

@code {
    [EditorRequired]
    [Parameter]
    public SaldoUpdateDto Saldo { get; set; } = new();

    [EditorRequired]
    [Parameter]
    public EventCallback<EditContext> OnSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }
}
